<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- <script>var exports = {};</script>
    <script src="../scripts/tempNavi.js"></script> -->
    <!-- Find bedre ikon: -->
    <!-- https://icon-library.com/images/jeopardy-icon/jeopardy-icon-29.jpg -->
    <link rel="icon" type="image/x-icon" href="https://m.media-amazon.com/images/I/31M2GpmH5VL.png">
    
</head>
<body>
    

 404!!

 
</body>
</html>